body{
  font-family: "Open sans", arial;
  background: #b2ad7f;
  text-align: center;
}

}
footer{
  background-color: #72726e;
  padding-top: 10px;
  color: black;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
