.left{
  width: 12em;
  height: 30em;
  margin-top: -44em;
  margin-left: -1em;
}
.right{
  width: 17em;
  height: 30em;
  padding: 5px;
  margin-left:12em;
  margin-top:-30.2em;
}
.box{
  width: 30em;
  height: 48em;
  background-color: lightgrey;
  border: 10px solid black;
  border-radius: 13px;
}
input{
  width: 80%;
  padding: 10px;
  margin: 8px 0 8px 0;
  display: inline-block;
  border: none;
  background:red;
  border: 6px solid black;
  border-radius: 8px;
}
input:focus{
  background-color: #ddd;
  outline: none;
}
label{
  width: 60%;
  padding: 8px;
  margin: 8px 0 8px 0;
  display: inline-block;
  border: none;
  background:red;
  border: 6px solid black;
  border-radius: 8px;
  color: #ffffff;
}
img{
  -o-object-fit: cover;
  object-fit: cover;
  font-family: "object-fit: cover;";
  background-repeat: no-repeat;
  width: 100%;
  height: 15.8em;
}
.button{
  color: #ffffff;
    cursor: pointer;
    background-color: #0000ff;
    border: 1px solid transparent;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 10px;
    font-weight: bold;
    font-size: 26px;
    padding: 5px 75px;
    margin-left: -2em;
}
.button:hover{
  background-color: black;
  box-shadow: 2px 9px #666;
  transform: translateX(8px);
  cursor: pointer;
  background-color: Black;
  transform: translateX(10px) skewX(-5deg);
  opacity: 0.9;
  transition:.7s;
}

a:link{
  text-decoration: none;
}
a :visited{
  color:#ffffff;
}
.container {
  position: relative;
  text-align: center;
  color: #000000;
}
